<form [formGroup] = 'registerForm'  (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>
    <div style="margin-bottom: 20px">
        <app-text-component [formControl]='registerForm.controls["username"]' [label]='"User Name"'></app-text-component>
    </div>
    <div style="margin-bottom: 20px">
        <app-text-component [formControl]='registerForm.controls["password"]' [label]='"Password"' [type]='"password"'></app-text-component>
    </div>
    <div style="margin-bottom: 20px">
        <app-text-component [formControl]='registerForm.controls["confirmpassword"]' [label]='"Confirm Password"' [type]='"password"'></app-text-component>
    </div>  
    
    
    <div class="form-group text-center" style="margin-top: 10px;">
        <button class="btn btn-success mr-2" type="submit">Register</button>
        <button class="btn btn-info" type="button" (click)="cancel()" style="margin-left: 10px;">Cancel</button>
    </div>
</form>